In [2]:
import pandas as pd

In [3]:
df=pd.read_excel("longurls.xlsx")
df

                                            longurls
0  https://www.google.com/search?q=genuine+url+da...
1           https://www.culturalindia.net/reformers/
2  https://byjus.com/free-ias-prep/19th-century-s...
3  https://starsunfolded.com/top-10-male-social-r...
4       https://ieeexplore.ieee.org/document/9528814
5       https://ieeexplore.ieee.org/document/9515730
6  https://www.jagranjosh.com/general-knowledge/s...

In [4]:
def idToShortURL(id):
    map = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"
    shortURL = ""
      
    # for each digit find the base 62
    while(id > 0):
        shortURL += map[id % 62]
        id //= 62
  
    # reversing the shortURL
    return shortURL[len(shortURL): : -1]

In [5]:
ID = pd.Series([],dtype=float)
short_url=pd.Series([],dtype=float)
import random
for i in range(len(df)):
    ID[i] = random.randint(100000,999999)
    short_url[i]="http://ced.ly/" + idToShortURL(ID[i])
    
df.insert(1, "ID", ID)
df.insert(2,"shortURL",short_url)
 
# list output
df.head()

,longurls,ID,shortURL
0,https://www.google.com/search?q=genuine+url+da...,482957,http://ced.ly/cbNN
1,https://www.culturalindia.net/reformers/,592353,http://ced.ly/cEgf
2,https://byjus.com/free-ias-prep/19th-century-s...,793193,http://ced.ly/duvB
3,https://starsunfolded.com/top-10-male-social-r...,965325,http://ced.ly/edhV
4,https://ieeexplore.ieee.org/document/9528814,462387,http://ced.ly/b6r1

In [6]:
def shortURLToId(shortURL):
    id = 0
    x=shortURL
    y=x[14:]
    for i in y:        
        val_i = ord(i)
        if(val_i >= ord('a') and val_i <= ord('z')):
            id = id*62 + val_i - ord('a')
        elif(val_i >= ord('A') and val_i <= ord('Z')):
            id = id*62 + val_i - ord('Z') + 26
        else:
            id = id*62 + val_i - ord('0') + 52
    return id

In [7]:
def longToShort(longURL):
    for i in range(len(df)):
        if df['longurls'][i]==longURL:
            return df['shortURL'][i]
        else:
            return "ERROR 404"
y=longToShort("https://www.google.com/search?q=genuine+url+dataset+kaggle&rlz=1C1GCEA_enIN913IN913&sxsrf=ALiCzsaCfPOhmXSK2eLfiSVwdeb9GTlmAA%3A1657725604371&ei=pOLOYoSqFumE4-EPsPqJgAU&ved=0ahUKEwiEjKKOlfb4AhVpwjgGHTB9AlAQ4dUDCA4&oq=genuine+url+dataset+kaggle&gs_lcp=Cgdnd3Mtd2l6EAw6BwgAEEcQsAM6BwgjELACECc6BQgAEIYDSgQIQRgASgQIRhgAUJ8OWNYjYK89aAFwAHgAgAGEAogB_wuSAQUwLjQuNJgBAKABAcgBCMABAQ&sclient=gws-wiz")
y

'http://ced.ly/cbNN'

In [9]:
def shortToLong(shortURL):
    for i in range(len(df)):
        if df['shortURL'][i]==shortURL:
            return df['longurls'][i]
        else:
            return "ERROR 404"
z=shortToLong('http://ced.ly/cbNN')
z

'https://www.google.com/search?q=genuine+url+dataset+kaggle&rlz=1C1GCEA_enIN913IN913&sxsrf=ALiCzsaCfPOhmXSK2eLfiSVwdeb9GTlmAA%3A1657725604371&ei=pOLOYoSqFumE4-EPsPqJgAU&ved=0ahUKEwiEjKKOlfb4AhVpwjgGHTB9AlAQ4dUDCA4&oq=genuine+url+dataset+kaggle&gs_lcp=Cgdnd3Mtd2l6EAw6BwgAEEcQsAM6BwgjELACECc6BQgAEIYDSgQIQRgASgQIRhgAUJ8OWNYjYK89aAFwAHgAgAGEAogB_wuSAQUwLjQuNJgBAKABAcgBCMABAQ&sclient=gws-wiz'